.DS_Store
aula-07/
aula-08/grupo2/blog-grupo2/Gemfile.lock
aula-08/grupo2/blog-grupo2/log/development.log
aula-08/grupo2/blog-grupo2/tmp/cache/bootsnap/load-path-cache
aula-08/grupo2/blog-grupo2/tmp/miniprofiler/mp_views_127.0.0.1